<div class="full_screen_image">
  
  <div class="thank_you">
    <a href="http://www.vervemobile.com" target="_blank"><img class="thankyoulogo" src="http://i.imgur.com/KvDlKSg.png" style="width:200px;margin-bottom:25px;"/></a>
    <div class="top_title">
    Thank you for your email address!</div>
    <div class="bottom_text">We look forward to speaking with you!</div>
    
  </div>
  
</div>  